<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add product</title>
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a href="/" class="active" ><b>Shop</b></a>
                </li>
                <li class="main-header__item">
                    <a href="/admin/add-product"><b>Add Product</b></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Page Not Found!</h1>
        <p>sorry, this page is not found :(</p>

    </main>
</body>
</html>